<div class="ecom-credits">
  
  <a href="https://e-com.plus" target="_blank" rel="noopener">
    Powered by
    <img
      src="https://ecom.nyc3.digitaloceanspaces.com/brand/plus/198x43.png"
      alt="E-Com Plus"
      width="150"
      height="auto"
    >
  </a>

    <a href="https://e-com.plus" target="_blank" rel="noopener" style="border-left:2px solid #000; margin-left: 5px; display:inline-table;height:30px;"  >
    <img
      src="img\uploads\logomier.jpg"
      alt="Mier"
      width="92"
      height="auto"
    >
  </a>




</div>
