// Add your custom CSS here.
@media only screen and (min-width: 700px) {

    // .letrabranca{color: white;}

    #main > footer {background-color: black;
        text-transform: uppercase;
    }

    .footer__credits, .letrabranca, .footer__contacts a, .footer__social i, 
    .footer__title, .footer__contacts, .footer__links a {color: white;
        }

    .product-card {background-color: white;}

        // .footer__contacts a{color: white;
    // }       
    
    #selos {background-color: white;}

    .header__buttons {margin-left: auto;}

    #search-input {border-radius: 25px;
        border: 2px solid;
        width:200px;
        float:right;}

    .header__nav{font-size: large;}

    // #header {opacity: .5;}

    .banner-slider{margin:-116px auto;
    margin-bottom: auto;}

    .products-carousel__title a{background-color: #f3f3f3;}
        // background-color: #f3f3f3;
    // }

    // .glide__slide products-carousel__item glide__slide--active
    .products-carousel{background-color: #f3f3f3;
        }
    
    .glide__slide {background-color: white;
        border-radius: 25px;
    }

    // height: 100px;}
    
    // .products-carousel__item glide__slide--active

    body {background-color: #f3f3f3;}
    
    
    .box-prod {
        height: 200px;
        display: inline-block;
        width: 30%;
        box-sizing: border-box;
      }
    //altura do card dos produtos
;    // block-size: initial;
    // #content > div > div.collection-shelf.my-lg-5 > section > div > div > ul > li:nth-child(2)
    // li.products-carousel__item{height: 250px;} 


}
